body{
  margin:0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
}

.App{
  background-color: #553c9a;
}

.master-button{
 background:none;
 border:none;
 color:#fff;
 text-align: center;
 margin-bottom: 5px;
 padding:10px;
}

.master-button:hover{
  border:2px solid white;
  border-radius: 20px 20px 20px 020px;
}

.master-button img{
  width:20px;
  height:20px;
  margin-right: 5px;
}

.master-card{
  display: flex;
  height: 500px;
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);  
  position: absolute;
  left: 300px;
  top: 60px;
  flex-direction:column;
}

.card-header{
  background-color: #805ad5;
  height:15%;
  border-bottom: 2px solid #E2E8F0;
}

.card-header button{
  background: transparent;
  border: 1px solid #100e17;
  position: relative;
  height:100%;
  width: 120px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.card-header button:after{
  content: "";
  background: #100e17;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.card-header button:active:after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.card-header button:focus{
  outline:none;
}

.card-content{
  height:80%;
  padding:20px;
}

input{
  background-color: transparent;
  width: 100%;
  color: #000;
  line-height: 1.25;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 2px;
  border-color: #100e17;
  margin-bottom: 10px;
}

input:focus{
  outline: none;
}

select{
  appearance: none;
  width:100%;
  background-color: white;
  border-color: #cbd5e0;
  border-radius: .25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 5px;
  margin-top:5px;
}

select:hover{
  border-color: #a0aec0;
  cursor: pointer;
}

select:focus{
  outline: none;
}

.info-modal{
  position: fixed; 
  z-index: 1; 
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.info-modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.info-modal-content button{
  margin-left:100px;
  padding: 5px;
  border-radius: 2px;
  background: #100e17;
  color: white;
  border: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/*-----------------------LOGIN----------------------------*/
.login-container{
  background-color: #553c9a;
  height:100vh;
  width:100vw;
  display: flex;
}

.login-wrapper{
  display: flex;
  height: 300px;
  width: 350px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: 500px;
  margin-top: 200px;
  color:white;
  flex-direction: column;
}

.login-input{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  margin-left:5px;
  margin-top:20px;
}

.login-input input{
  background-color: white;
  padding:5px;
  width:90%;
}

.login-input label{
  padding: 5px;
  font-weight:700;
}

.login-button{
  margin-left:150px;
  margin-top:20px;
}

.login-button button{
  padding:15px;
  border-radius:1rem;
  border:1px solid white;
  background-color: #100e17;
  color:white;
}

.login-button button:hover{
  transition: 0.4s ease-out;
  transform: translateY(-10px);
  background-color:white;
  color:#100e17;
}

.login-button button:focus{
  outline: none;
}

/*-----------------------!LOGIN----------------------------*/

/*-----------------------NAVBAR----------------------------*/
.navbar{
  display: flex;
  height:7vh;
  width:100%;
  background-color: #100e17;
  justify-content: space-between;
  align-items: center;
  margin:none;
  padding: none;
}

.leftside{
  font-weight: 1000;
  color: #ffffff;
  margin-left: 5px;
}

.rightside{
  color: #ffffff;
  font-weight:400;
}

.rightside ul{
  display: flex;
  align-items: center;
}

.rightside li{
  list-style: none;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
}

.rightside img{
  width:30%;
  height:70%;
  filter: invert(100%) brightness(100%) contrast(100%);
}


/*-----------------------!NAVBAR----------------------------*/

/*-----------------------DASHBOARD----------------------------*/
.dashboard{
  background-color: #553c9a;
  height:100vh;
  width:100vw;
}

.dash-inner{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.main-menu{
  margin-top:10px;
  margin-left:10px;
}

/*-----------------------!DASHBOARD----------------------------*/

/*-----------------------LOANFORM----------------------------*/
.loan-container{
  display:flex;
  justify-content: space-evenly;
}

.loan-request{
  height:100%;
  width:33%;
}

.loan-request label{
  display: inline-block;
  margin-bottom: 5px;
}

.loan-request input{
  width:70%;
}

.loan-details{
  width:35%;
}

.loan-details label{
  display: inline-block;
}


/*-----------------------!LOANFORM----------------------------*/

/*-----------------------REPORT----------------------------*/
.report-container{
  background-color: #553c9a;
  height:100vh;
  width:100vw;
}

.report-content-wrapper{
  width:600px;
  margin-left:400px;
}




/*-----------------------!REPORT----------------------------*/

/*-----------------------DATABASE----------------------------*/

.data-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:none;
  margin:0;
}

.stats-visual{
  display: flex;
  flex-direction: column;
}

.graph-visual{
  border: 1px solid grey;
  width: 70%;
  height: 300px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}



/*-----------------------!DATABASE----------------------------*/

/*-----------------------FOOTER----------------------------*/
.master-footer{
  position: fixed;
  left: 470px;
  bottom: 0;
  height: 50px;
  width: 30%;
  background-color: #100e17;
  color: white;
  display: flex;
  border-radius: 10px 10px 0 0;
}

.footer-inner{
  display: flex;
  padding:5px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.footer-inner img{
  height:90%;
  align-self: flex-end;
}


/*-----------------------!FOOTER----------------------------*/